.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AddMealButton {
  padding-right: 10px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  z-index: 3;
  color: white;
  font-size: calc(10px + 10vmin);
  -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.displayButton {
  width: 160px;
  height: 45px;
  border-radius: 22.5px;
  background-color: transparent;
  border-color: yellow;
  color: yellow;
  position: absolute;
  bottom: 50px
}

.randommeal {
  position: absolute;
  bottom: 50%;
  font-size: calc(10px + 5vmin);
  padding: 10px;
  text-align: center;

}

#cookbook {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow: auto;
  transition: 0.5s;
  color: aliceblue;

}

.topSection {
  position: sticky;
  height: 80px;
  padding: 15px;
  top: 0px;
  background-color: gray;
}

.input {
  position: sticky;
  height: 100px;
  padding: 15px;
  bottom: 0px;
  background-color: gray;
}

.addButton {
  width: 70px;
  height: 29px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: rgb(167, 139, 141);
  color: white;
  position: absolute;
  bottom: 60px;
  right: 15px;
}

.inputfield {
  width: calc(100% - 85px);
  height: 27px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  bottom: 60px;
}

.delButton {
  width: 20px;
  cursor: pointer;
  background-color: rgb(167, 139, 141);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  text-align: center;
}

.table {
  width: 100%;
  padding: 15px;
  padding-top: 10px;
}

.tableContainer {
  min-height: calc(100vh - 240px);
}
.tableData {
  width: calc(100% - 20px );
  border-bottom: 1px solid;
}