.App {
 
}

.AddButton {
  margin: right;
  border: 3px solid #73AD21;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 3;
}

.Home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.displayButton {
  border: none;
}

.displayContainer {
  height: 60vh;
}

#cookbook {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 110px;
  color: aliceblue;
}